<!DOCTYPE html>
<html>

<head>

</head>

<body>
  <%- include('partials/_header') %>


    <h2> Quizzes Taken </h2>



    <form action="/create" method="POST">

      <% for (const result of results) { %>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Quiz ID</th>
              <th scope="col">User ID</th>
              <th scope="col">correct</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td>
                <%= result.quiz_id %>
              </td>
              <td>
                <%= result.user_id %>
              </td>
              <td>
                <%= result.correct %>
              </td>
            </tr>

          </tbody>
        </table>

        <% } %>
    </form>

</body>

</html>
