<!DOCTYPE html>
<html>
<body>
  <%- include('partials/_header') %>


<h2> list of Quizzes </h2>



<form action="/create" method="POST">
  <% for (const result of results) { %>

  <label for="fname"><%= result.id %></label><br>
  <label for="quiz1"><a href="http://localhost:8080/quiz/5"><%= result.quiz_name %></a></label><br><br>

  <% } %>
</form>

</body>
</html>

