<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="../styles/layout.css" type="text/css" />
</head>

<body>
  <%- include('partials/_header') %>


    <h2> Quizzes for You </h2>



    <form action="/create" method="POST">
      <% for (const result of results) { %>

        <label for="quiz1"><a href="http://localhost:8080/take/<%= result.id %>">
            <%= result.quiz_name %>
          </a></label><br><br>

        <% } %>
    </form>

</body>

</html>
