label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

form {
  padding-left: 30%;
  padding-right: 30%;
}

input {
  width: 100%;
  margin-bottom: 5px;
}


h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  };


#publish:hover {
  background-color: #DAF7A6;
}

#publish{
  margin-bottom: 20px;
}
